.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 250px;
    padding-left: 140px;
   
   
}




.nav-bar .nav{
    display: flex;
    gap: 60px;
    list-style: none;
    
}

.nav-bar .nav li{
    font-size: 18px;
    color: #343a40;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.nav-bar .nav li:hover{
    text-decoration: none;
    color: #4fe084;
}

.nav-bar .nav li.active{
    color: #4fe084;
    font-weight: 600;
}
.nav-bar .nav li.active:hover{
    text-decoration: none;
    color: #4fe084;
}


.nav-bar .nav-item button{
    background-color: transparent;
    color:black;
    border: none;
    outline: none;
    padding: 10px;
    border: 1px solid black;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #343a40;
}

.logo h1{
    font-size: 35px;
    font-weight: 800;
}

.nav select{
   border: none;
    outline: none;
    padding: 2px;
}