.section-container
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 150px;

}

.section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-top: 70px;
    
} 

.section-content h1{
    font-size: 20px;
    font-weight: 700;
    color: #DF6951;
    text-transform: uppercase;
}

.section-content .section-subtitle{
    color: #181E4B;
    line-height: 1.0;
    font-size: 60px;
    font-weight: 900;
    text-align: left;
   
}

.section-content .section-description{
    font-size: 13px;
    line-height: 1.5;
    width: 350px;
    color: #5E6282;
    font-weight: 500;
    text-align: left;
}

.section-content button{
    background-color: rgb(201, 201, 8);
    color: rgb(232, 228, 228);
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 140px;
}

.section-buttons{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.section-buttons img{
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: -14px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.section-buttons p{
    font-size: 18px;
    color: #5E6282;
    font-weight: 500;
    text-align: center;
    margin-top: 14px;
    margin-left: -10px;
}







