.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px 150px;
    align-items: center;
    justify-items: center;
    margin-bottom: 100px;
}

.grid-container-1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 150px;
    align-items: center;
    justify-items: center;
}

.grid-container-1 .grid-item-1{
    background-color: #F9F9F9;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




h1{
    font-size: 16px;
    font-weight: 700;
    color: #5E6282;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

p{
    color: #181E4B;
    line-height: 1.0;
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
}

.grid-item{
   
    border-radius: 10px;
    padding: 20px;
   
    text-align: center;
    width: 100%;
    max-width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.grid-item p{
    font-size: 13px;
    font-weight: 400;
    color: #5E6282;
    margin-top: 5px;
    width: 130px;
    text-align: center;

}
.grid-item img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.grid-item:nth-child(2) img{
    width: 90px; /* Stretch image to card width */
    height: 72px; /* Reduce height to something reasonable */
    object-fit: cover; /* Maintain aspect ratio, fill the box */
    margin-bottom: 0px; /* Already good */
    
}

.grid-item:nth-child(3) img{
    width: 35px; /* Stretch image to card width */
    height: 60px; /* Reduce height to something reasonable */
    object-fit: cover; /* Maintain aspect ratio, fill the box */
    margin-bottom: 0px; /* Already good */
    
}

.grid-item h2{
    font-size: 18px;
    font-weight: 700;
    color: #1E1D4C;
    margin-bottom: 5px;
}

.grid-container-1 .grid-item-1 img {
    width: 100px; /* Stretch image to card width */
    height: 150px; /* Reduce height to something reasonable */
    object-fit: cover; /* Maintain aspect ratio, fill the box */
    margin-bottom: 0px; /* Already good */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Add this to tighten up spacing */
.grid-container-1 .grid-item-1 .desc {
    margin-top: 0px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.desc h2{
    font-size: 18px;
    font-weight: 700;
    color: #1E1D4C;
    margin-bottom: 5px;
}
.desc p{
    font-size: 13px;
    font-weight: 400;
    color: #5E6282;
    margin-top: 5px;
    width: 130px;
    text-align: center;

}

